{% extends "base.html" %}

{% block content %}
    <h2>Récapitulatif de la Commande</h2>
    {% if products %}
        <table border="1">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.price }} {{ currency|default:"€" }}</td>
                        <td>{{ product.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun produit enregistré.</p>
    {% endif %}
{% endblock %}
