altgraph==0.17.4
asgiref==3.8.1
chardet==5.2.0
colorama==0.4.6
Django==5.1.4
numpy==2.2.2
opencv-python==4.11.0.86
packaging==24.2
pefile==2023.2.7
pillow==11.1.0
pip-autoremove==0.10.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
qrcode==8.0
reportlab==4.2.5
setuptools==75.8.0
six==1.17.0
sqlparse==0.5.3
tzdata==2024.2
